* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1b1b75;
  font-family: "Helvetica", sans-serif;
  font-weight: 200;
}

body h2 {
  margin: 30px;
  text-align: left;
  color: white;
}

body .btn_and_arrow_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .btn_and_arrow_container p {
  color: white;
  font-size: 1.2em;
}

body button {
  width: 12vw;
  border: 3px #000000 solid;
  color: #160101;
  font-size: 1.6em;
  margin: 0 25px;
  border-radius: 2px;
  font-weight: bold;
  height: 5vh;
  outline: none;
}

body button i {
  color: #18a4db;
  font-size: 1em;
  margin: 0 0.5vw !important;
}

body i.fa-arrow-left {
  color: crimson;
  font-size: x-large;
  -webkit-animation: comeAndGo 2s ease-out forwards 1;
          animation: comeAndGo 2s ease-out forwards 1;
}

body h1 {
  position: absolute;
  top: 20vh;
  margin: 0 1vw;
  font-style: italic;
  font-weight: bold;
  margin-top: 75px;
  color: #ffdc18;
}

body h1::before, body h1::after {
  content: " '' ";
  font-size: 0.8em;
  color: #ffdc18;
  font-style: normal;
  padding: 0 0.2vw;
}

body #working {
  background-image: url("../Images/circle_turn_onstart.jpg");
  position: absolute;
  top: 8.5vh;
  left: 47.5vw;
  border-radius: 50%;
  background-size: cover;
  background-position: left top;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid #000000;
  display: none;
  color: whitesmoke;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.596);
          box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.596);
}

body .working_animation_turning {
  -webkit-animation: turning 5s linear infinite;
          animation: turning 5s linear infinite;
}

/*-------------------------------------- Animations----------------------------------- */
@-webkit-keyframes comeAndGo {
  25% {
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
  }
  50% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  75% {
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
  }
  100% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
}
@keyframes comeAndGo {
  25% {
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
  }
  50% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  75% {
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
  }
  100% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
}

@-webkit-keyframes turning {
  10% {
    -webkit-filter: brightness(150%);
            filter: brightness(150%);
    background-size: cover;
    background-position: center 33%;
  }
  20% {
    -webkit-transform: scale3d(1, 1, 1.5) rotateZ(40deg);
            transform: scale3d(1, 1, 1.5) rotateZ(40deg);
    -webkit-filter: brightness(200%);
            filter: brightness(200%);
    background-size: cover;
    background-position: right center;
  }
  30% {
    background-size: cover;
    -webkit-transform: scale3d(1, 1, 1.5);
            transform: scale3d(1, 1, 1.5);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    background-position: left center;
  }
  40% {
    background-size: cover;
    -webkit-transform: scale3d(1, 1, 1.2) rotateZ(70deg);
            transform: scale3d(1, 1, 1.2) rotateZ(70deg);
    -webkit-filter: brightness(75%);
            filter: brightness(75%);
    background-position: left center;
  }
  50% {
    background-size: cover;
    -webkit-transform: scale3d(1, 1, 1.5);
            transform: scale3d(1, 1, 1.5);
    -webkit-filter: brightness(150%);
            filter: brightness(150%);
    background-position: 17% top;
  }
  60% {
    background-size: cover;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    background-position: 100% center;
  }
  70% {
    background-size: cover;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: hue-rotate(120deg);
            filter: hue-rotate(120deg);
    background-position: center 89%;
  }
  80% {
    background-size: cover;
    -webkit-transform: rotateZ(40deg);
            transform: rotateZ(40deg);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    background-position: center top;
  }
  90% {
    background-size: cover;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: hue-rotate(100deg);
            filter: hue-rotate(100deg);
    background-position: 100% 100%;
  }
  100% {
    background-size: cover;
    -webkit-filter: brightness(40%);
            filter: brightness(40%);
    background-position: center bottom;
  }
}

@keyframes turning {
  10% {
    -webkit-filter: brightness(150%);
            filter: brightness(150%);
    background-size: cover;
    background-position: center 33%;
  }
  20% {
    -webkit-transform: scale3d(1, 1, 1.5) rotateZ(40deg);
            transform: scale3d(1, 1, 1.5) rotateZ(40deg);
    -webkit-filter: brightness(200%);
            filter: brightness(200%);
    background-size: cover;
    background-position: right center;
  }
  30% {
    background-size: cover;
    -webkit-transform: scale3d(1, 1, 1.5);
            transform: scale3d(1, 1, 1.5);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    background-position: left center;
  }
  40% {
    background-size: cover;
    -webkit-transform: scale3d(1, 1, 1.2) rotateZ(70deg);
            transform: scale3d(1, 1, 1.2) rotateZ(70deg);
    -webkit-filter: brightness(75%);
            filter: brightness(75%);
    background-position: left center;
  }
  50% {
    background-size: cover;
    -webkit-transform: scale3d(1, 1, 1.5);
            transform: scale3d(1, 1, 1.5);
    -webkit-filter: brightness(150%);
            filter: brightness(150%);
    background-position: 17% top;
  }
  60% {
    background-size: cover;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    background-position: 100% center;
  }
  70% {
    background-size: cover;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: hue-rotate(120deg);
            filter: hue-rotate(120deg);
    background-position: center 89%;
  }
  80% {
    background-size: cover;
    -webkit-transform: rotateZ(40deg);
            transform: rotateZ(40deg);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    background-position: center top;
  }
  90% {
    background-size: cover;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: hue-rotate(100deg);
            filter: hue-rotate(100deg);
    background-position: 100% 100%;
  }
  100% {
    background-size: cover;
    -webkit-filter: brightness(40%);
            filter: brightness(40%);
    background-position: center bottom;
  }
}
